
.slider {
    width: 100vw;
    overflow: hidden;
    text-align: center;
}

.slider img {
    width: 100%
}
.products {
    width: 100vw;
    overflow: hidden;
}

.products h3 {
    text-align: center;
}

.products ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0px 10px;
    flex-direction: column;
}

.products ul li {
     list-style: none;
     width: 100%;
}

.products ul li article {
    padding: 10px;
}

.products ul li article img {
    width: 100%
}

@media only screen and (min-width:768px) {
    .products ul {
        flex-direction: row; 
        flex-wrap: wrap;
    }
    
    .products ul li {
        width: 50%;
    }
}

@media only screen and (min-width:1024px) {
   .products ul li {
     list-style: none;
     width: 25%;
    } 
}

.feature {
    width: 100vw;
    overflow: hidden;
    margin-bottom: 20px;
}

.feature h3 {
    text-align: center;
}

.feature ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0px 10px;
    flex-direction: column;
}

.feature ul li {
    list-style: none;
    width: 100%;
}

.feature ul li article {
    padding: 10px;
    height: 140px;
    position: relative;
}

.feature ul li article img {
    width: 100%;
}

.feature ul li article h4 {
    position: absolute;
    width: 100%;
    font-size: 28px;
    color: white;
    font-family: sans-serif;
    top: 25%;
    text-align: center;
    font-size: 200%;
    text-shadow: black 0px 0px 50px;
}


@media only screen and (min-width:768px) {
    .feature ul {
        flex-direction: row;
    }
}

@media only screen and (min-width:1024px) {
   .feature ul li {
     list-style: none;
     width: 33.3%;
    } 
}