.name {
    padding: 0px 30px;
}

.article product-title {
    font-size: 18px;
    font-weight: bold;
}

.productimage {
    padding: 0px 0px;
}

.article{
    padding: 0px 30px;
}

.productimage img {
    width: 100%;
}

.product p {
    padding 0px 30px;
    line-height: 0px;
}

